Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.next
.git
.gitignore
.eslintrc.json
coverage
.nyc_output
*.log
*.md
web_app
examples
tests
docs
google_apps_script
src/*.py
*.kpc
*.pdf
.pytest_cache
__pycache__